<div class="panel panel-primary">
  <div class="panel-heading"><%= @product.name %></div>

  <div class="panel-body">

    <h4><%= @product.name %></h4>
    <p><%= @product.species %></p>

    <!-- Main Info -->
    <h4>Your plant</h4>
    <p><%= @product.description %></p>

    <!-- About -->
    <h4>About</h4>
    <p>Maintenance: <%= @product.maintenance %></p>
    <p>Location: <%= @product.location <%></p>
    <p>Image to be posted via cloudinary</p>

    <!-- Amenities -->
    <h4>Where can your plant live? </h4>
    <ul class="amenities">
      <li><%= !@product.needs_sun ? ("<s>Sun</s>").html_safe : "Sun" %></li>
      <li><%= !@product.needs_shade ? ("<del>Shade</del>").html_safe : "Shade" %></li>
      <li><%= !@product.needs_halfshade ? ("<del>Halfshade</del>").html_safe : "Halfshade" %></li>
    </ul>

    <h4>Price</h4>
    <p><%= @product.price %></p>
  </div>

</div>

<%= link_to "Back", product_path, class: "btn btn-default" %>
