<div class="container">

    <h4><%= @product.name %></h4>
    <p><%= @product.species %></p>

    <!-- Main Info -->
    <h4>Your plant</h4>
    <p><%= @product.description %></p>

    <!-- About -->
    <h4>About</h4>
    <p>Maintenance: <%= @product.maintenance %></p>
    <%=image_tag @product.image_url %>


    <h4>Price</h4>
    <p><%= @product.price %></p>
    


<%= link_to "Edit", edit_product_path(@product.id), class: "btn btn-default" %>

<%= link_to "Back", root_path, class: "btn btn-default" %>

</div>
